<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class='container'>
	<div class='jumbotron text-center'>
		<h1><span class='fa fa-lock'></span>&nbsp;Entrar</h1>
		<p>Entrar o registrarse con:</p>
		<a href='/login' class='btn btn-default'><span class='fa fa-user'></span>&nbsp;Local Login</a>
		<a href='/signup'class='btn btn-default'><span class='fa fa-user'></span>&nbsp;Signup</a>
	</div>
	<div class="row">
	<p>Herramienta de votación en tiempo real.</p>
	<ul>
		<li>Sign up para usar la herramienta.</li>
		<li>La cantidad de votos no es una limitación. El usuario puede votar tantas veces como quiera.</li>
		<li>Para crear votaciones y administrarlas, el usuario debe solicitar ser promovido a administrador.</li>
	</div>
</div>
</body>
</html>