<!doctype html>
<html>
<head>
    <title>Node Authentication - Error</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-ambulance"></span> ID</h1>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <table>
                <% for(var i=0; i<voting.length; i++) { %>
                    <tr>
                        <td><%= voting[i].id %></td>
                        <td><%= voting[i].title %></td>
                    </tr>
                <% } %>
                </table>
            </div>
        </div>

    </div>

</div>
</body>
</html>